
#map {
	height:74vh;
	width: 100vw;
	position: relative;
}

@media only screen and (max-width: 460px) {
	#title{
		font-stretch: semi-condensed;
		font-size: 1.2em;
	}
}	

@media only screen and (max-width: 375px) {
	#title{
		font-stretch: semi-condensed;
		font-size: 1em;
	}
}	
